
  <% if user_signed_in? %>
  <div class="banner" style="background-color: #030027;">
    <div class="container">
      <h1>Izistock</h1>
      <p>Change the management of your stock.</p>
      <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
  </div>
  <% else %>
  <% end %>
