.navbar-lewagon {
  justify-content: space-between;
  background: #030027;
  text-decoration: none;
  color: white;
  width: 12%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: aliceblue;
  text-decoration: none;
}

.navbar a:hover {
text-decoration: none;
}
// #151E3F


// #C16E70
